---
// Header.astro
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header class="header">
  <div class="header-background"></div>
  <Container>
    <div class="flex items-center justify-between">
      <Link href="/" underline={false}>
        <div class="site-name">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="nav-menu">
        <Link href="/blog" class="blur-hover nav-link">
          blog
        </Link>
        <Link href="/work" class="underline-animation nav-link">
          work
        </Link>
        <Link href="/projects" class="magnetic-hover nav-link">
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.querySelector(".header");
    
    if (header) {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 50) { // You can adjust this value
          header.classList.add("compact");
        } else {
          header.classList.remove("compact");
        }
      });
    }
  });
</script>